#receipt{
    background: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    text-align: left;
    font-family: 'Andalé Mono', monospace;
}

#configForm, #configForm table {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: black;
    padding: 20px;
}

.red {
    color: red;
    font-weight: bold;
    
}

.black {
    
}