#receipt{
    background: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#configForm {
    color: white;
}

body{
    background: black;
    padding: 20px;
}

.red {
    color: red;
    font-weight: bold;
    
}

.black {
    
}